<div>
  <%= flash[:notice] %>
</div>



<h2>Book detail</h2>

<table>
  <tr>
    <td>
      <%= link_to user_show_path(@book.user.id) do %>
        <%= image_tag @book.user.get_image(100,100) %>
      <% end %>
      <%= link_to user_show_path(@book.user.id) do %>
        <%= @book.user.name %>
      <% end %>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td><%= link_to "Edit", edit_book_path(@book) %></td>
    <td><%= link_to "Destroy", book_path(@book.id) ,method: :delete ,"data-confirm" => "本当に消しますか？" %></td>
  </tr>
</table>
