<div>
  <%= flash[:notice] %>
</div>

<div>
  <h2>User info</h2>
  <%= image_tag @book.user.get_image(100,100) %>
  <table>
    <tr>
      <th>name</th>
      <th><%= @book.user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @book.user.introduction %></th>
    </tr>
  </table>
  <p>
  <% if @book.user == current_user %>
    <%= link_to"編集ボタン",edit_user_path(@book.user.id) %>
    <% else %>
    <%= link_to"編集ボタン",user_show_path(current_user.id) %>
  <% end %>
  </p>
</div>


<h2>Book detail</h2>

<table>
  <tr>
    <td>
      <%= link_to user_show_path(@book.user.id) do %>
        <%= image_tag @book.user.get_image(100,100) %>
      <% end %>
      <%= link_to user_show_path(@book.user.id) do %>
        <%= @book.user.name %>
      <% end %>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td>
      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book.id) %>
      <% else link_to book_path(@book.id) %>
      <% end %>
    </td>
    <td>
      <% if @book.user == current_user %>
        <%= link_to "Destroy", book_path(@book.id) ,method: :delete ,"data-confirm" => "本当に消しますか？" %>
      <% end %>
    </td>
  </tr>
</table>
